.splashboard
  = render "shared/sidebar", :omit_splashboards => true
  #stream-wrap.left
    #stream-feed
      .streamfeed-top
        .inner-nav
          %ul.inner-nav-tabs
            %li.top-splashes
              %a{:href => '/top/tracks/following/7d', :data => {:bb => 1}}
                = t('.top_splashes')
            %li.top-splashers
              %a{:href => '/top/users/following', :data => {:bb => 1}}
                = t('.top_splashers')

          .feed-settings-tabs
            .splashboard-period
              %label{:for => 'alltime'}= t('.sevenday')
              %input{:id  => 'alltime', :type => 'checkbox', :value => 1}
              %label{:for => 'alltime'}= t('.alltime')

            .avan-bold
              %ul
                %li.following
                  %a{:href => "#", :data => {:bb => 1}}= t('.following')
                %li.everyone
                  %a{:href => "#", :data => {:bb => 1}}= t('.everyone')
            .line
              %span

      #splashboard-container
    .cl &nbsp;
