%li.splash{:data => {:track_id  => splash.track.id, |
                     :splash_id => splash.id, |
                     :widget    => 'splash'}}
  = image_tag splash.track.artwork_url
  .splash_text_info
    = render "tracks/track_summary", :track => splash.track
    = splash.track.splash_count
    = attribute_splash(splash)
    %ul.actions
      %li= play_widget(splash.track)
      %li= expand_splash(splash)
      %li= splash_action_widget(current_user, splash)

    - if defined?(expand)
      %div{:data => {:widget => 'splash-info'}}
        = splash.comment_with_mentions

        - if splash.track.downloadable?
          = link_to t('.download'), download_track_path(splash.track)

        - elsif splash.track.purchasable?
          = link_to t(".purchase"), splash.track.purchase_url
  .clear