%li.track{:data => {:track_id => track.id, :widget => role}}
  - if show_album?(role)
    = image_tag track.artwork_url
  %span.title= track.title
  %span.artist= track.artist
  %ul.actions
    %li= play_widget(track)
    %li= splash_action_widget(current_user, track)

    - if track_expandable?(role)
      %li= expand_widget(track)