%li.track{:data => {:track_id => track.id}}
  %span.title= track.title
  %span.artist= track.artist
  %ul.actions
    %li= play_widget(track)
    %li= splash_widget(track, current_user)

    - if track_expandable?(role)
      %li= link_to(t(".expand"), track_path(track), :remote => true, :'data-type' => 'html', :'data-widget' => 'track-info-toggle')