%div{:data => {:widget => 'upload-container'}}
  %p= link_to t('upload.upload'),
              "#upload",
              :'data-widget' => 'upload-toggle'

  %div{:id   => "upload",
       :data => {:widget => 'upload'}}
    = semantic_form_for UndiscoveredTrack.new, :html => {:multipart => true} do |t|
      = semantic_fields_for Splash.new do |s|
        = s.input :comment, :as => :text
      = t.input :data, :label => Track.human_attribute_name(:data), :as => :file
  .clear
