- form_tag tracks_path, {:method => :get} do
  = text_field_tag :f, params[:f]
  = submit_tag 'Search'

- if @results
  - if @results.empty?
    = t '.empty'
  - else
    %table
      %tr
        %th Title
        %th Plays
        %th Favorites
      - @results.each do |r|
        %tr
          %td= r.title
          %td= r.playback_count
          %td= r.favoritings_count
