- content_for :head do
  = include_javascripts :soundcloud

- form_tag tracks_path, {:method => :get} do
  = text_field_tag :f, params[:f]
  = submit_tag 'Search'

- if @results
  - if @results.empty?
    = t '.empty'
  - else
    %table
      %tr
        %th Title
        %th Plays
        %th Favorites
        %th Stream URL
      - @results.each_with_index do |r, i|
        %tr
          %td= r.title
          %td= r.plays
          %td= r.favorites
          %td{:data => {:track_url => r.uri}}
