#edit-user-form{:data => {:widget => 'settings'}}
  %h2 Settings
  = devise_error_messages!
  = form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f|
    %ul
      %li
        = f.label :email
        = f.text_field :email
      %li
        = f.label :name
        = f.text_field :name
      %li
        = f.label :nickname
        = f.text_field :nickname
      %li
        = f.label :password, t('.change_password')
        = f.password_field :password, :placeholder => t('.new_password')
        = f.password_field :password_confirmation, :placeholder => t('.confirm_password')
        %hr
    %ul
      %li
        %label= t('.social_connect')
      %li
        = link_to_social_site(:twitter, 'twitter-logo.png')

      %li
        = link_to_social_site(:facebook, 'fb-logo.png')
      %hr

    %ul
      %li
        %label= 'Email preferences'
      = email_preference('following')
      = email_preference('mention')
      = email_preference('splash_comment', true)
      = email_preference('response_comment', true)

    %ul.actions
      %li= link_to t('.cancel'), "#", :class => "buttonStyle2"
      %li= f.submit t('.save'), :class => "buttonStyle2"
    -#%h3 Cancel my account
    -#%p
      -#Unhappy? #{link_to "Cancel my account", registration_path(resource_name), :confirm => "Are you sure?", :method => :delete}.
    -#= link_to "Back", :back
