%h2= I18n.t('devise.registrations.sign_up')

= semantic_form_for @user, :url => registration_path(@user) do |f|
  = f.inputs do
    = f.input :email
    = f.input :name
    - if @user.password_required?
      = f.input :password
      = f.input :password_confirmation

  = f.buttons do
    = f.submit I18n.t('devise.registrations.sign_up')

= render :partial => "devise/shared/links"



