%p
  = link_to(@notification.notifier.name, |
            user_slug_url(@notification.notifier.slug))
  = @notification.action
  on Splash.FM:

  "#{@notification.target.splash.track.title}"  by "#{@notification.target.splash.track.performers.join(', ')}"

%blockquote= ActionView::Base.new.simple_format(@notification.target.body)
