.comment{:data => {:widget => 'comment-container'}}
  .comments-button
    Comments
  .add-comment-button
    = link_to t('.add_comment'), "#add-comment-#{splash.id}", :'data-widget' => 'add-comment-toggle'
  .clear

  %div{:id => "add-comment-#{splash.id}", :'data-widget' => "comment-form"}
    = splash_comment_form(splash)
  .clear

  .comments{:id => "comments-#{splash.id}"}
    %ul
      = render splash.comments
  .clear

.clear
