#side-bar-wrap.left
  #side-bar
    = render :partial => "users/vcard", :locals => {:user => @user}

    .points-container
      .ripples{:data => {:widget => 'ripples'}}
        %span.label Ripples
        %span.number= @user.ripple_count

      .splashes
        %span.label Splashes
        %span.number= @user.splash_count
      / .influence top 5% influencer this week
      / .last-seen last seen 8 min ago
      .cl.border &nbsp;

    = render :partial => "follows", :locals => {:user => @user}

    .splashers-widgets
      = render "shared/splashboard"
    = render "shared/invites"
