%li{:data => {:widget => 'suggested-splasher', :user_id => user.id}}
  :javascript
    $(function() {
      $('[data-widget = "suggested-splasher"][data-user_id = "#{user.id}"] .wrap').
        append(
          new RelationshipView({
            model:    new Relationship(#{
                        {:follower_id => current_user.id,
                         :followed_id => user.id,
                        }.to_json
                      }),
            refresh:  false,
            tagName:  'span',
            template: $('#tmpl-suggested-relationship').template(),
          }).render().el
        );
    });

  .wrap
    = avatar(user, :class => 'avatar left', :size => :nano)
    .info.left
      %p.names
        = link_to user.name, user_slug_path(user), :class => 'avan-bold'
        %small= user.name
      %p.scores.avan-bold= user.splash_score

    = ignore_user(user)