.user-vcard
  %div{:class => controller_path}
    .container
      .picture.left
        = user_avatar(user)
        - if avatar_editable?
          .upload-avatar-link{:'data-widget' => 'edit-avatar-link'}
            = link_to t('.edit_avatar'), user_avatar_path(current_user), :class => 'fancybox'
      .info.left
        %h2.avan-bold.actor_name= user.try(:name)
        .score
          .score-digits
            .waterNumHolder
              .waterNum= user.splash_score
          .cl &nbsp;
          %span.badge
          %a.expand{:href => "#"}
        .blurb
          .tag-line.edit{:'data-action' => "#{user_path(current_user)}",
                        :'data-widget' => "#{ 'editable' if tagline_editable?}"}
            = user.tagline
      .cl &nbsp;