:javascript
  $(function() {
    var t = new Tutorial({
      trigger: $('[data-widget = "first-aid"]')
    });

    $('body').append(t.shadeEl);
    $('body').append(t.el);

    $('[data-widget = "first-aid"]').click(function() { t.show(); });

    #{once(:first_time_splasher) { "t.show();"} }
  });
.user-vcard
  %div{:class => controller_path}
    .container
      .picture.left
        = user_avatar(user)
        - if avatar_editable?
          .upload-avatar-link{:'data-widget' => 'edit-avatar-link'}
            = link_to t('.edit_avatar'), user_avatar_path(current_user), :class => 'fancybox'
      .info.left
        %h2.avan-bold.actor_name= user.try(:name)
        .score
          .score-digits
            .waterNumHolder
              .waterNum= user.splash_score
          .cl &nbsp;
          %span.badge
          .expand{:href => "#", :data => {:widget => 'first-aid'}}
            .tip
              .top
              .contents
                The Splash Score measures your influence in music. It's based
                on how often you splash, the users that follow you, and the
                number of times users ripple (or re-splash) your splashes. Want
                to learn more about Splash? Check out the
                %a{:href => "#", :data => {:widget => 'first-aid'}} tutorial.

        .score-text.avan-bold
          splash score
        .blurb
          .tag-line.edit{:'data-action' => "#{user_path(current_user)}",
                        :'data-widget' => "#{ 'editable' if tagline_editable?}"}
            = user.tagline
      .cl &nbsp;
.contact-sep-shadow