.avatar
  %h2
    = t('.title')

  .image
    %p
      = image_tag current_user.avatar_url(:thumb), :class => 'fancybox_avatar'

    #fileupload
      = form_for current_user, :html => { :multipart => true } do |f|
        = f.file_field :avatar

      .fileupload-content
        %table.files

    = render 'template_upload'
