:javascript
  $(function () {
    window.Profile = new ProfileController({
      el: $('body'),
      isOwner: #{owner?.inspect},
      relationship: #{
        {:follower_id => current_user.id,
         :followed_id => @user.id,
         :id          => current_user.followed(@user).try(:id)}.to_json
      },
      tracksPerPage: #{Track.default_per_page},
      userID: #{@user.id},
    }).render();
  });

.users-show
  = render "sidebar"
  #stream-wrap.right
    #stream-feed{:data => {:widget => 'feed'}}
      .streamfeed-top
        .container
          = render "shared/feed_search"
        .feed-settings-tabs
          .avan-bold
            %ul{:data => {:widget => 'filter-following'}}
              %li.ui-tabs-selected
                %a.active{:href => "#activity"}
                  = label_with_current_user('splashes', |
                                            :scope => 'events.filters')
              %li
                %a{:href => "#social"}
                  = label_with_current_user('social', |
                                            :scope => 'events.filters')
          .line
            %span
          %span.feed-updates-count.left{:data => {:widget => 'update-count'}}
      = render "shared/feed_filter"
      %ul.live-feed{:data => {:widget => 'events'}}
      .loading-spinner-container
  .cl &nbsp;

.clear
