:javascript
  $(function () {
    window.App.trackSearch = new TrackSearch({perPage: #{Track.default_per_page}})
    window.App.eventFeed = new Events({
      app:           window.App,
      currentUserID: #{current_user.id},
      filters:       {user: #{@user.id}},
      updateFilters: {user: #{@user.id}, splashes: 1},
    });
    window.Scroll = new EndlessScroll({
      data: App.eventFeed,
      noMoreResults: $('<p/>').
        text(I18n.t('events.all_loaded')).
        addClass('loaded'),
      spinnerContainer: $('.loading-spinner-container'),
    });
  });

- unless owner?
  :javascript
    $(function() {
      $('.user-vcard > div').append(
        new RelationshipView({
          className: 'follow-container',
          model:     new Relationship(#{
                       {:follower_id => current_user.id,
                        :followed_id => @user.id,
                        :id          => current_user.followed(@user).try(:id)
                       }.to_json
                     }),
          template:  $('#tmpl-profile-relationship').template(),
        }).render().el
      );
    });

.users-show
  = render "sidebar"
  #stream-wrap.right
    #stream-feed{:data => {:widget => 'feed'}}
      .streamfeed-top
        .container
          = render "shared/feed_search"
        .feed-settings-tabs
          .avan-bold
            %ul{:data => {:widget => 'filter-following'}}
              %li.ui-tabs-selected
                %a.active{:href => "#activity"}
                  = label_with_current_user('splashes', |
                                            :scope => 'events.filters')
              %li
                %a{:href => "#social"}
                  = label_with_current_user('social', |
                                            :scope => 'events.filters')
          .line
            %span
          %span.feed-updates-count.left{:data => {:widget => 'update-count'}}
          = render "shared/feed_toggles"
      = render "shared/feed_filter"
      %ul.live-feed{:data => {:widget => 'events'}}
      .loading-spinner-container
  .cl &nbsp;

.clear
