.profile
  .box-user-info
    .user-image
      = image_tag @user.avatar_url(:thumb), :size => '100x110', :id => 'avatar'
      - if avatar_editable?
        .upload-avatar-link.hide
          = link_to t('.edit_avatar'), user_avatar_path(current_user), :class => 'fancybox'
    .top-number
      3
    .user-name
      = @user.name
    .follow-button
      - if current_user.following? @user
        = render 'unfollow'
      - else
        = render 'follow'
    .rating
      55
      .tag-line-wrapper
        %span.tag-line-label
          tagline
        .tag-line.edit{:'data-action' => "#{user_path(current_user)}", 
                      :'data-widget' => "#{ 'editable' if tagline_editable?}"}
          = @user.tagline
    .ripples
      .label
        RIPPLES
      .number
        777
    .splashes
      .label
        SPLASHES
      .number
        777
    .influence
      top 5% influencer this week
    .last-seem
      last seem 8 min ago

  = render 'follow_box'
.clear
= render_events(@events)
