.users-show
  = render "sidebar"
  #stream-wrap.right
    #stream-feed
      .streamfeed-top
        .container
          = render "shared/feed_search"
          = render "shared/feed_settings"
      = render "shared/feed_filter"
      %ul.live-feed{:data => {:widget => 'events'}}
      .loading-spinner
  .cl &nbsp;

.clear
= render_events(:user             => @user.id,
                :update_on_splash => own_profile?)
