.users-show
  = render "sidebar"
  #stream-wrap.right
    #stream-feed
      .streamfeed-top
        .container
          = render "shared/feed_search"
        .feed-settings-tabs
          .avan-bold
            %ul{:data => {:widget => 'filter-following'}}
              %li.ui-tabs-selected
                %a.active{:href => "#activity"} My Activity
              %li
                %a{:href => "#mentions"} @Mentions
          .line
            %span
          %span.feed-updates-count.left{:data => {:widget => 'update-count'}}
          = render "shared/feed_toggles"
      = render "shared/feed_filter"
      %ul.live-feed{:data => {:widget => 'events'}}
      .loading-spinner
  .cl &nbsp;

.clear
= render_events(:user             => @user.id,
                :update_on_splash => own_profile?)
