:javascript
  $(function () {
    var qs = #{request.query_string.inspect};
    window.App.trackSearch = new TrackSearch({perPage: #{Track.default_per_page}})
    window.App.eventFeed = new Events({
      app:     window.App,
      filters: _.extend({user: #{@user.id}}, $.deparam.querystring(qs)),
    });
  });

.users-show
  = render "sidebar"
  #stream-wrap.right
    #stream-feed{:data => {:widget => 'feed'}}
      .streamfeed-top
        .container
          = render "shared/feed_search"
        .feed-settings-tabs
          .avan-bold
            %ul{:data => {:widget => 'filter-following'}}
              %li.ui-tabs-selected
                %a.active{:href => "#activity"}= t('events.filters.my_activity')
              %li
                %a{:href => "#mentions"}= t('events.filters.mentions')
          .line
            %span
          %span.feed-updates-count.left{:data => {:widget => 'update-count'}}
          = render "shared/feed_toggles"
      = render "shared/feed_filter"
      %ul.live-feed{:data => {:widget => 'events'}}
      .loading-spinner
  .cl &nbsp;

.clear
