#side-bar-wrap.right
  #side-bar
    = render :partial => "users/vcard", :locals => {:user => current_user}
    .contact-sep-shadow
    = render 'users/points_container', :user => current_user
    - unless defined?(omit_splashboards)
      .splashers-widgets
        .suggested-splashers
          %a.see-all.right{:href => "#"}
            %span &bull;
            See All
          %h3 Suggested Splashers
          .cl &nbsp;
          %div{:data => {:widget => 'suggested-users'}}
            = render 'shared/suggested_splashers'
        = render "shared/splashboard"
    = render "shared/footer"