#side-bar-wrap.right
  #side-bar
    = render :partial => "users/vcard", :locals => {:user => current_user}
    .user-follows-count
      %span.shadow
      %span.count
        %strong.avan-demi= current_user.followers.count
        Followers
      %span.count
        %strong.avan-demi= current_user.following.count
        Following
      %span.corner
    .splashers-widgets
      .suggested-splashers
        %a.see-all.right{:href => "#"}
          %span &bull;
          See All
        %h3 Suggested Splashers
        .cl &nbsp;
        %ul
          = render :partial => "suggested_splasher", :collection => current_user.suggested_users, :as => :user
        %a.viewmore-btn{:href => "#"} View More
      .top-splashes
        .tabs
          %ul
            %li
              %a.active{:href => "#"} Top Splashes
            %li
              %a{:href => "#"} Top Splashers
          .line
            %span
          %a.toggle{:href => "#"}
        %ul#splashes.tab
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
        %a.viewmore-btn{:href => "#"} View Splashboard
    = render "shared/invites"
