#side-bar-wrap.right
  #side-bar
    .user-vcard
      .container
        .picture.left
          %img{:alt => "", :height => "185", :src => "/css/images/user-picture.png", :width => "125"}/
        .info.left
          %h2.avan-bold= current_user.try(:name)
          .score
            %img{:alt => "", :height => "73", :src => "/css/images/spscore-4.png", :width => "50"}/
            %img{:alt => "", :height => "73", :src => "/css/images/spscore-6.png", :width => "50"}/
            .cl &nbsp;
            %span.badge
            %a.expand{:href => "#"}
          .blurb
            %p= current_user.try(:tagline)
            %form{:action => "#", :method => "post"}
              %input{:type => "text"}/
        .cl &nbsp;
    .user-follows-count
      %span.shadow
      %span.count
        %strong.avan-demi= current_user.followers.count
        Followers
      %span.count
        %strong.avan-demi= current_user.following.count
        Following
      %span.corner
    .splashers-widgets
      .suggested-splashers
        %a.see-all.right{:href => "#"}
          %span &bull;
          See All
        %h3 Suggested Splashers
        .cl &nbsp;
        %ul
          = render :partial => "suggested_splasher", :collection => current_user.suggested_users, :as => :user
        %a.viewmore-btn{:href => "#"} View More
      .top-splashes
        .tabs
          %ul
            %li
              %a.active{:href => "#"} Top Splashes
            %li
              %a{:href => "#"} Top Splashers
          .line
            %span
          %a.toggle{:href => "#"}
        %ul#splashes.tab
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
          = render "top_splash"
        %a.viewmore-btn{:href => "#"} View Splashboard
    = render "invites"
