:javascript
  $(function () {
    window.App.trackSearch = new TrackSearch({perPage: #{Track.default_per_page}})
    window.App.eventFeed = new Events({
      app:     window.App,
      filters: {
        user:     #{current_user.id},
        follower: #{current_user.id}
      }
    });
  });

.home
  = render "sidebar"
  #stream-wrap.left
    #stream-feed
      .streamfeed-top
        .container
          = render "shared/feed_search"
        .feed-settings-tabs
          .avan-bold
            %ul{:data => {:widget => 'filter-following'}}
              %li.ui-tabs-selected
                %a.active{:href => "#following"} Following
              %li
                %a{:href => "#everyone"} Everyone
          .line
            %span
          %span.feed-updates-count.left{:data => {:widget => 'update-count'}}
          = render "shared/feed_toggles"
      = render "shared/feed_filter"
      %ul.live-feed{:data => {:widget => 'events'}}
      .loading-spinner
  .cl &nbsp;

/= render "user_list"
