:javascript
  $(function () {
    var qs = #{request.query_string.inspect};
    window.App.trackSearch = new TrackSearch({perPage: #{Track.default_per_page}})
    window.App.eventFeed = new Events({
      app:           window.App,
      currentUserID: #{current_user.id},
      filters:       _.extend({
        user:     #{current_user.id},
        follower: #{current_user.id}
      },
      $.deparam.querystring(qs)),
      updateFilters: {
        follower: #{current_user.id},
        splashes: 1,
      },
    });
    window.Scroll = new EndlessScroll({
      data: App.eventFeed,
      noMoreResults: $('<p/>').
        text(I18n.t('events.all_loaded')).
        addClass('loaded'),
      spinnerContainer: $('.loading-spinner-container'),
    });
    window.suggestedSplashers = new SuggestedSplashersView({
      collection: new SuggestedSplashers(#{
        current_user.recommended_users.to_json
      }),
      el: $('[data-widget = "suggested-users"]').get(0),
      followerID: #{current_user.id},
    }).render();
  });

.home
  = render "shared/sidebar"
  #stream-wrap.left
    #stream-feed{:data => {:widget => 'feed'}}
      .streamfeed-top
        .container
          = render "shared/feed_search"
        .feed-settings-tabs
          .avan-bold
            %ul{:data => {:widget => 'filter-following'}}
              %li.ui-tabs-selected
                %a.active{:href => "#following"}= t('events.filters.following')
              %li
                %a{:href => "#everyone"}= t('events.filters.everyone')
              %li
                %a{:href => "#mentions"}= '@' + current_user.nickname
              %li
                %a{:href => "#social"}= t('events.filters.social')
          .line
            %span
          %a.feed-updates-count.no-new.left{:data => {:widget => 'update-count'}}
          =# render "shared/feed_toggles"
      =# render "shared/feed_filter"
      %ul.live-feed{:data => {:widget => 'events'}}
      .loading-spinner-container
  .cl &nbsp;

/= render "user_list"
