:javascript
  $(function () {
    window.App.Page = new Home({
      app:    window.App,
      events: {currentUserId: #{current_user.id}},
      search: {perPage: #{Track.default_per_page}}
    });
  });

.home
  = render "sidebar"
  #stream-wrap.left
    #stream-feed
      .streamfeed-top
        .container
          = render "search"
          = render "feed_settings"
      = render "feed_filter"
      = render "live_feed"
      .loading-spinner
  .cl &nbsp;

/= render "user_list"
