- content_for(:head) do
  - social_links = capture do
    .omniauth-links
      %p.fb
        = link_to t('login.sign_in.facebook'), user_omniauth_authorize_path(:facebook), :'data-skip-pjax' => 'true'
      %p.tw
        = link_to t('login.sign_in.twitter'), user_omniauth_authorize_path(:twitter), :'data-skip-pjax' => 'true'
    .or
      or

  %style
    :sass
      #wrapper
        height: 100% !important
      #player-area
        display: none

  :javascript
    $(function () {
      var topView;
      var registering = location.pathname == "#{new_user_registration_path}";

      if (registering) {
        topView = new Registration({
          accessCode: $.deparam.querystring().code,
        });
      } else {
        topView = new SignIn;
      }

      $('.main').append(topView.render().el);
      $('.signup').
        append(new RequestInvite({
          invitePath: "#{invite_created_path}",
          referralURL: "#{session['splash.referral_url']}",
          registering: registering,
        }).render().el);

      $('body').bind('register:code', function(_, data) {
        $(topView.el).replaceWith(new Registration({
          accessCode: data.code,
        }).render().el);
      });
    });

  %script#tmpl-registration{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.register.header')
    = form_for :user, |
        :remote => true, |
        :url  => registration_path(:user), |
        :html => {:'data-type' => 'json', |
                  :class => 'register'} do |f|
      = f.text_field :email, :class => 'input', :placeholder => t('login.register.email')
      = f.text_field :name, :class => 'input', :placeholder => t('login.register.name')
      = f.password_field :password, :class => 'input', :placeholder => t('login.register.password')
      = f.password_field :password_confirmation, :class => 'input', :placeholder => t('login.register.confirm_password')
      = f.hidden_field :access_code, :value => "${accessCode}"
      = f.submit
    = social_links
    .cl

  %script#tmpl-request-invite{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.beta_warning')

    %a{:href => '#code-test'} Submit Entry Code

    %a{:href => '#request-invite-email'} Request Invite via email

  %script#tmpl-request-invite-confirmed{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.beta_warning')

    %p
      You've been successfully added to the Public Beta request list! Not a fan
      of waiting in long lines? We love enthusiastic users:

    %p
      Share with 3 friends! Copy and paste the URL below into Twitter,
      Facebook, or in an email, or use the social links contained in this
      window to share and climb the list.

    %p
      %span ${referralURL}

  %script#tmpl-request-invite-registering{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.beta_warning')

    %p
      Your Entry Code has been accepted.

    %p
      Create your new account by filling out the forms above, or by signing in
      with Facebook or Twitter.

  %script#tmpl-request-invite-email{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.beta_warning')

    %a{:href => '#code-test'} Submit Entry Code

    = form_for :user, |
        :remote => true, |
        :url    => access_requests_path, |
        :html   => {:'data-type' => 'json', |
                    :class => 'register'} do |f|
      = f.text_field :email, :class => 'input', :placeholder => t('login.register.email')
      = f.submit

  %script#tmpl-request-invite-sent{:type => 'text/x-jquery-tmpl'}
    .invite-sent
      %h2 We've added you to the invite list.

      %p Look out for an email with your invite.

  %script#tmpl-code-test{:type => 'text/x-jquery-tmpl'}
    %div
      %input.input{:name => 'access_code', :placeholder => t('login.register.code')}

    %a{:href => '#request-invite-email'} Request Invite via email

  %script#tmpl-sign-in{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.sign_in.header')
    = social_links
    .signin
      = form_for(:user, |
          :url    => session_path(:user), |
          :remote => true, |
          :html   => {:'data-type' => 'json', |
                      :class       => 'sign-in'}) do |f|
        = f.text_field :email, :class => 'input', :placeholder => t('login.sign_in.email'), :'data-widget' => 'user-email'
        = f.password_field :password, :class => 'input', :placeholder => t('login.sign_in.password')
        = f.check_box :remember_me
        = f.label :remember_me
        = link_to t("login.sign_in.forgot_password"), '#', :id => 'forgot_password'
        = f.submit t('devise.buttons.login')
    .cl

  %script#tmpl-forgot-password{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.forgot_password')
    = form_for(:user, :url    => password_path(:user),
                      :html   => {:method => :post, :'data-type' => 'json'},
                      :remote => true) do |f|
      = f.text_field :email, :class => 'input'

.user-signin
  .main
    .pulsars-wrap
      .pulsars
        .p1.p
        .p2.p
        .p3.p
        .p4.p

  .bottom
    .wrap
      .description
        %p.title= t('login.title')
        %p.text= t('login.blurb')

      .signup
        %p.title= t('login.title')
