- content_for(:head) do
  - social_links = capture do
    .omniauth-links
      %p.fb
        = link_to t('login.sign_in.facebook'), user_omniauth_authorize_path(:facebook), :'data-skip-pjax' => 'true'
      %p.tw
        = link_to t('login.sign_in.twitter'), user_omniauth_authorize_path(:twitter), :'data-skip-pjax' => 'true'
    .or
      .top_line
      or
      .bottom_line

  %style
    :sass
      #wrapper
        height: 100% !important
      #player-area
        display: none

  :javascript
    $(function () {
      var topView = new SignIn;

      $('.main').append(topView.render().el);

      $('body').bind('signin:unregistered', function(_, data) {
        var r = new Registration(data).render()

        $(topView.el).replaceWith(r.el);

        r.focus();
      });
    });

  %script#tmpl-registration{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.register.header')
    = social_links
    .register
      = form_for :user, |
          :remote => true, |
          :url  => registration_path(:user), |
          :html => {:'data-type' => 'json', |
                    :class => 'register'} do |f|
        = f.text_field :email, :class => 'input', :placeholder => t('login.register.email'), :value => '${email}'
        = f.text_field :name, :class => 'input', :placeholder => t('login.register.name')
        = f.password_field :password, :class => 'input', :placeholder => t('login.register.password')
        = f.password_field :password_confirmation, :class => 'input', :placeholder => t('login.register.confirm_password')
        %input#age{:type => 'checkbox'}
        %label{:for => 'age'} I am at least 13 years of age

        %p.submit
          = f.submit 'Sign up'
    .cl

  %script#tmpl-sign-in{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.sign_in.header')
    = social_links
    .signin
      = form_for(:user, |
          :url    => session_path(:user), |
          :remote => true, |
          :html   => {:'data-type' => 'json', |
                      :class       => 'sign-in'}) do |f|
        = f.text_field :email, :class => 'input', :placeholder => t('login.sign_in.email'), :'data-widget' => 'user-email'
        = f.password_field :password, :class => 'input', :placeholder => t('login.sign_in.password')
        .bottom_actions
          .remember_me.left
            = f.check_box :remember_me
            = f.label :remember_me
          .forgot_password.left
            = link_to t("login.sign_in.forgot_password"), '#', :id => 'forgot_password'
          .clear

        %p.submit.invisible
          = f.submit t('devise.buttons.login')
    .cl

  %script#tmpl-forgot-password{:type => 'text/x-jquery-tmpl'}
    = form_for(:user, :url    => password_path(:user),
                      :html   => {:method => :post, :'data-type' => 'json'},
                      :remote => true) do |f|
      = f.text_field :email, :class => 'input',
                             :placeholder => t('login.sign_in.email')


      %p.submit
        = f.submit t('devise.buttons.password_reset')

.user-signin
  .main-wrap
    .main
      .logo-wrap
        %a{:href => root_url}
          %img#logo{:src => '/css/images/logo.png'}
      .pulsars-wrap
        .pulsars
          .p1.p
          .p2.p
          .p3.p
          .p4.p

  .bottom-wrap
    .ruler
    .bottom
      .wrap
