- content_for(:head) do
  - social_links = capture do
    .omniauth-links
      %p.fb
        = link_to t('login.sign_in.facebook'), user_omniauth_authorize_path(:facebook), :'data-skip-pjax' => 'true'
      %p.tw
        = link_to t('login.sign_in.twitter'), user_omniauth_authorize_path(:twitter), :'data-skip-pjax' => 'true'
    .or
      or

  %style
    :sass
      #wrapper
        height: 100% !important
      #player-area
        display: none

  :javascript
    $(function () {
      $('.main').append(new LoginView($.deparam.querystring()).render().el);
    });

  %script#tmpl-registration{:type => 'text/x-jquery-tmpl'}
    = form_for :user, |
        :remote => true, |
        :url  => registration_path(:user), |
        :html => {:'data-type' => 'json', |
                  :class => 'register'} do |f|
      = f.text_field :email, :class => 'input', :placeholder => t('login.register.email')
      = f.text_field :name, :class => 'input', :placeholder => t('login.register.name')
      = f.password_field :password, :class => 'input', :placeholder => t('login.register.password')
      = f.password_field :password_confirmation, :class => 'input', :placeholder => t('login.register.confirm_password')
      = f.hidden_field :access_code, :value => "${accessCode}"
      = f.submit
    = social_links
    .cl

  %script#tmpl-request-invite{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.beta_warning')
    %div
      %h3= t('login.register.request_invite')
      = form_for :user, |
          :remote => true, |
          :url    => access_requests_path, |
          :html   => {:'data-type' => 'json', |
                      :class => 'register'} do |f|
        = f.text_field :email, :class => 'input', :placeholder => t('login.register.email')
        = f.submit

  %script#tmpl-request-invite-sent{:type => 'text/x-jquery-tmpl'}
    .invite-sent
      %h2 We've added you to the invite list.

      %p Look out for an email with your invite.

  %script#tmpl-sign-in{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.sign_in.header')
    .signin
      = form_for(:user, |
          :url    => session_path(:user), |
          :remote => true, |
          :html   => {:'data-type' => 'json', |
                      :class       => 'sign-in'}) do |f|
        = f.text_field :email, :class => 'input', :placeholder => t('login.sign_in.email'), :'data-widget' => 'user-email'
        = f.password_field :password, :class => 'input', :placeholder => t('login.sign_in.password')
        = link_to t("login.sign_in.forgot_password"), '#', :id => 'forgot_password'
        = f.submit t('devise.buttons.login')
    = social_links
    .cl

  %script#tmpl-choice{:type => 'text/x-jquery-tmpl'}
    %h2= t('login.beta_warning')
    .buttons
      = link_to t('login.choice.new_user'), '#', :class => 'new-user', :'data-widget' => 'new-user'
      = link_to t('login.choice.registered_user'), '#', :class => 'registered-user', :'data-widget' => 'registered-user'

.user-signin
  .main
    .pulsars-wrap
      .pulsars
        .p1.p
        .p2.p
        .p3.p
        .p4.p

  .bottom
    .wrap
      .description
        %p.title= "Splash.FM"

      .signup
        %p.title= t('login.title')
        %p.text
          = t('login.sign_up.blurb')

