- case item.search_result_type
- when :track
  %li.search_result{:data => {:track_id => item.id}}
    = render "tracks/track_summary", :track => item

    %ul.actions
      %li= play_widget(item)
      %li= splash_action_widget(current_user, item)

- when :user
  %li.search_result{:data => {:user_id => item.id}}
  = link_to item.name, user_path(item)

- else
  - raise "Unknown search result type: #{item}"