- if @tracks.blank? && @users.blank?
  = t('.empty')
- else
  %dl
    - unless @tracks.blank?
      %dt= Track.model_name.human.pluralize
      %dd= render 'searches/page', page_params(@tracks, 'track')

    - unless @users.blank?
      %dt= User.model_name.human.pluralize
      %dd= render 'searches/page', page_params(@users, 'user')