- if @tracks.blank? && @users.blank?
  = t('.empty')
- else
  %dl
    - unless @tracks.blank?
      %dt= Track.model_name.human.pluralize
      %dl= render 'searches/page', page_params(@tracks)

    - unless @users.blank?
      %dt= User.model_name.human.pluralize
      %dl
        %ul.users= render @users

%p= link_to t('.upload'), "##{params[:type]}-upload"

%div{:id   => "#{params[:type]}-upload",
     :data => {:widget => 'upload'}}
  = semantic_form_for Track.new, :html => {:multipart => true} do |t|
    = t.input :title
    = t.input :artist
    = t.input :album
    = t.input :data, :label => Track.human_attribute_name(:data), :as => :file
    /
      = t.buttons do
        = t.commit_button :upload