<!DOCTYPE html>
<html>
  <head>
    <title><%= Rails.application.name %></title>
    <%= include_javascripts :base %>
    <%= include_javascripts :pjax if logged_in? %>
    <%= active_scaffold_includes if active_scaffold? %>
    <%= include_stylesheets :base, :media => 'all' %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= AppConfig.google_analytics || 'UA-XXXXX-X' %>']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
    <%= yield :head %>
    <% if logged_in? %><%= render "shared/player" %><% end %>
  </head>

  <body>
<!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="" /></a></div> <![endif]-->
    <div class="yui3-g">
      <div data-pjax-container>
        <%= render :template => 'layouts/pjax' %>
      </div>
      <% if logged_in? %><div id="player-area"></div><% end %>

      <div id="footer">
        <div id="by_line">
          Developed by <%= link_to 'Mojo Tech', 'http://www.mojotech.com' %>
        </div>
      </div>
    </div>
  </body>
</html>
