<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= Rails.application.name %></title>
    <%= include_javascripts :base %>
    <% if active_scaffold? %>
      <%= active_scaffold_includes %>
    <% end %>
    <%= include_stylesheets :base, :media => 'all' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="yui3-g">
      <div id="header"">
        <h1><%= Rails.application.name %> - <%= controller.controller_name.titleize -%></h1>
        <%= render :partial => 'shared/auth_controls'%>
        <div id="main_nav"><%= render_navigation %></div>
      </div>
      <div id="main">
        <% unless @custom_flash_display %>
          <% unless flash_ok_messages.blank? %>
            <div id="flash_notice" style="display:none" class="round_corners"><%= flash_ok_messages -%></div>
            <%= javascript_tag visual_effect(:toggle_appear, :flash_notice) %>
          <% end %>
          <% unless flash_error_messages.blank? %>
            <div id="flash_error" style="display:none" class="round_corners"><%= flash_error_messages -%></div>
            <%= javascript_tag visual_effect(:toggle_appear, :flash_error) %>
          <% end %>
        <% end %>
        <%= yield -%>
      </div>
      <div id="footer">
        <div id="by_line">
          Developed by <%= link_to 'Mojo Tech', 'http://www.mojotech.com' %>
        </div>
      </div>
    </div>
  </body>
</html>
