!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= Rails.application.name
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %link{:href => "/css/images/favicon.ico", :rel => "shortcut icon"}/
    = javascript_include_tag "application"
    = stylesheet_link_tag "application"
    = include_javascripts :base
    = javascript_include_tag "http://connect.facebook.net/en_US/all.js"
    = include_stylesheets :base, :media => 'all'
    = csrf_meta_tag
    = render "shared/ga"
    = yield :head
    = render "events/comment"
    = render "events/relationship"
    = render "events/splash"
    = render "friends/invite"
    = render "home/suggested_relationship"
    = render "home/track"
    = render "relationships/relationship"
    = render "shared/flash_messages"
    = render "shared/notification"
    = render "shared/player"
    = render "shared/quick_splash_track"
    = render "shared/track"
    = render 'shared/tutorial'
    = render "shared/upload"
    = render "shared/upload_metadata"
    = render "shared/user"
    = render "splashes/comment"
    = render "tracks/all_results"
    = render "tracks/all_results_table"
    = render "tracks/all_results_table_row"
    = render "tracks/all_results_splash"
    = render "tracks/track_summary"
    = render "users/relationship"
    = render "users/suggested_splasher"
    = render "users/thumbnail"
    = render "users/user"
    = render "users/user_summary"
    = render "users/invite"
    :javascript
      var Constants = {};

      $(function () {
        Constants.NICKNAME_REGEXP =
          new RegExp("@(" + #{User::NICKNAME_REGEXP.inspect} + ")", "g");
        Constants.SPLASHBOARD_ITEMS_PER_PAGE = 10; // TODO: Get from server
        Constants.AVATAR_WIDTH = #{User::AVATAR_WIDTH};
        Constants.AVATAR_HEIGHT = #{User::AVATAR_HEIGHT};
      });

    :javascript
      $(function() {
        window.app = new Application({
          user: new User(#{user_json}),
          facebookAppID: "#{AppConfig.facebook['key']}"
        });

        #{once(:first_time_splasher) { "app.showTutorial();" } if logged_in?}
      });
  %body
    = render "shared/ie6_banner"
    #wrapper{'data-pjax-container' => ''}
      = render 'shared/header'
      #main
        #side-bar-wrap.right
          = render 'shared/footer'
        #stream-wrap.left
          #stream-feed{:data => {:widget => 'feed'}}
        .cl &nbsp;

    / /- if logged_in?
    #player-area
    = render "shared/olark"
    #fb-root