<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= Rails.application.name %></title>
    <%= include_javascripts :base %>
    <%= active_scaffold_includes if active_scaffold? %>
    <%= include_stylesheets :base, :media => 'all' %>
    <%= csrf_meta_tag %>
    <script type="text/javascript">
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', '<%= AppConfig.google_analytics || 'UA-XXXXX-X' %>']);
      _gaq.push(['_trackPageview']);

      (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    </script>
  </head>

  <body>
<!--[if lt IE 7]> <div style=' clear: both; height: 59px; padding:0 0 0 15px; position: relative;'> <a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/images/upgrade.jpg" border="0" height="42" width="820" alt="" /></a></div> <![endif]-->
    <div class="yui3-g">
      <div id="header"">
        <h1><%= Rails.application.name %> - <%= controller.controller_name.titleize -%></h1>
        <%= render :partial => 'shared/auth_controls' unless hidden?(:auth_controls) %>
        <% unless hidden?(:navigation) %>
          <div id="main_nav"><%= render_navigation %></div>
          <%= render :partial => 'shared/admin_nav' if signed_in_as_superuser? %>
        <% end %>
      </div>
      <div id="main">
        <%= render :partial => 'shared/flash_messages' %>
        <%= yield -%>
      </div>
      <div id="footer">
        <div id="by_line">
          Developed by <%= link_to 'Mojo Tech', 'http://www.mojotech.com' %>
        </div>
      </div>
    </div>
  </body>
</html>
