!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= Rails.application.name
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %link{:href => "/css/images/favicon.ico", :rel => "shortcut icon"}/
    = include_javascripts :base
    = include_javascripts :pjax if logged_in?
    = active_scaffold_includes if active_scaffold?
    = include_stylesheets :base, :media => 'all'
    = csrf_meta_tag
    = render "shared/ga"
    = yield :head
    - if logged_in?
      = render "events/comment"
      = render "events/mention"
      = render "events/relationship"
      = render "events/splash"
      = render "home/track"
      = render "shared/flash_messages"
      = render "shared/notification"
      = render "shared/player"
      = render "shared/quick_splash_track"
      = render "shared/track"
      = render "shared/upload"
      = render "shared/upload_metadata"
      = render "shared/user"
      = render "splashes/comment"
      = render "tracks/track_summary"
      = render "users/user"
      = render "users/user_summary"
    :javascript
      var Constants = {};

      $(function () {
        Constants.NICKNAME_REGEXP =
          new RegExp("@(" + #{User::NICKNAME_REGEXP.inspect} + ")", "g");
      });
  %body{ :class => controller.controller_name }
    = render "shared/ie6_banner"
    #wrapper{'data-pjax-container' => ''}
      = render :template => 'layouts/pjax'
    / /- if logged_in?
    #player-area
    = render "shared/gsfn"
