<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN"
          "http://www.w3.org/TR/html4/strict.dtd">
<html>
  <head>
    <title><%= Rails.application.name %></title>
    <%= include_javascripts :base %>
    <%= active_scaffold_includes if active_scaffold? %>
    <%= include_stylesheets :base, :media => 'all' %>
    <%= csrf_meta_tag %>
  </head>
  <body>
    <div class="yui3-g">
      <div id="header"">
        <h1><%= Rails.application.name %> - <%= controller.controller_name.titleize -%></h1>
        <%= render :partial => 'shared/auth_controls' %>
        <div id="main_nav"><%= render_navigation %></div>
      </div>
      <div id="main">
        <%= render :partial => 'shared/flash_messages' %>
        <%= yield -%>
      </div>
      <div id="footer">
        <div id="by_line">
          Developed by <%= link_to 'Mojo Tech', 'http://www.mojotech.com' %>
        </div>
      </div>
    </div>
  </body>
</html>
