!!!
%html{:dir => "ltr", :lang => "en-US", :xmlns => "http://www.w3.org/1999/xhtml"}
  %head
    %title= Rails.application.name
    %meta{:content => "text/html; charset=utf-8", "http-equiv" => "Content-type"}/
    %link{:href => "/css/images/favicon.ico", :rel => "shortcut icon"}/
    = include_javascripts :base
    = include_javascripts :pjax if logged_in?
    = active_scaffold_includes if active_scaffold?
    = include_stylesheets :base, :media => 'all'
    = csrf_meta_tag
    = render "shared/ga"
    = yield :head
    - if logged_in?
      = render "shared/player"
    = render "shared/track"
    = render "home/track"
  %body
    = render "shared/ie6_banner"
    #wrapper{'data-pjax-container' => ''}
      = render :template => 'layouts/pjax'
    / /- if logged_in?
    / /  #player-area
    = render "shared/player"
