#header
  %h1
    = Rails.application.name
  #breadcrumb
    = controller.controller_name.titleize
  .clear

  = render :partial => 'shared/auth_controls' unless hidden?(:auth_controls)

  - unless hidden?(:navigation)
    #main_nav
      = render_navigation

      = render :partial => 'shared/admin_nav' if signed_in_as_superuser?
    - if logged_in?
      = render_upload_form :upload
      = render 'shared/search', :type => 'global'
      = render 'shared/header_icons'

#main
  = render :partial => 'shared/flash_messages'
  = yield
